<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p>Click the link below to go to the Login Page:</p>
    <a href="{% url 'login' %}">Go to Login Page</a>
    <p>Click the link below to go to the About us Page:</p>
    <a href="{% url 'AboutUs' %}">Go to About us Page</a>
    <p>Click the link below to go to the About us Page:</p>
    <a href="{% url 'register' %}">Go to register Page</a>
</body>
</html>
